@use "global" as *;
.about {
  position: relative;
}

.about::before {
  display: none;
  @include mq(md) {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/_coral.svg");
    width: rem(194);
    height: rem(181);
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    bottom: rem(-91);
    right: calc(50% - min(48vw, 40rem));
    z-index: 20;
  }
}

.l-about {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
    margin-bottom: 0;
  }
}

.about__inner {
  position: relative;
  @include mq(md) {
    position: relative;
  }
}
