@use "global" as *;

.blog {
  position: relative;
}
.blog__inner.inner{
  width: 100%;
  padding: rem(88) 0 0;
  @include mq(md) {
    max-width: 100%;
    position: relative;
    padding-top: rem(108);
  }
}
