@use "global" as *;

.blog {
  position: relative;
}
.section__blog {
  padding: rem(88) 0 rem(84);
  @include mq(md) {
    position: relative;
    padding: rem(104) 0 rem(144);
    padding-right: rem(2);
  }
}
