@use "global" as *;

.blog {
  position: relative;
}
.section__blog {
  padding: rem(88) 0 rem(80);
  @include mq(md) {
    position: relative;
    padding: rem(100) 0 rem(143);
    padding-right: rem(2);
  }
}
