@use "global" as *;
.campaign {
  position: relative;
  overflow: hidden;
}
.l-campaign {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.campaign__inner {
  position: relative;
  text-align: center;
  padding-right: 0;
  @include mq(md) {
  }
}

.campaign__swiper{
  @include mq(md) {
    display: flex;
    height: 100%;
    margin-right: calc(50% - 50vw);
  }
}

.campaign__swiper {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(44);
    display: flex;
  }
}

.campaign__slide {
  width: rem(280);
  margin: 0;
  @include mq(md) {
    width: rem(333);  
    align-items: stretch;
    margin: 0;
  }
}




.swiper-wrapper.campaign__slider {
  max-width: rem(600);
  padding-bottom: rem(5);
  @include mq(md) {
    right: 0;
    top: 0;
    max-width: 100%;
    height: 100%;
    padding-bottom: rem(5);
  }
}

.slide-card__title-campaign {
  display: flex;
  text-align: start;
  border-bottom: rem(1) solid $blue;
  font-family: $base-font-family;
  font-size: rem(12);
  margin: 0;
  margin-top: rem(4);
  padding-bottom: rem(6);
  letter-spacing: -0.18em;
  @include mq(md) {
    font-size: rem(12);
    letter-spacing: -0.18em;
    margin-top: rem(4);
    padding-bottom: rem(8);
  }
}
.slide-card__text-campaign {
  text-align: center;
  font-family: $base-font-family;
  font-weight: $normal;
  font-size: rem(14);
  margin-top: rem(8);
  // margin-top: rem(10);
  @include mq(md) {
    margin-top: auto;
    // margin-top: rem(14);
    margin-right: rem(14);
    font-size: rem(16);
  }
}

.slide-card__prices {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: rem(16);
  margin-top: rem(8);
  align-items: baseline;
  font-family: $third-font-family;
  @include mq(md) {
    gap: rem(24);
  }
}
.slide-card__price {
  font-family: $third-font-family;
  font-weight: $bold;
  text-decoration: line-through red rem(3);
  // margin-top: rem(6);
  font-size: rem(20);
  line-height: 2;
  @include mq(md) {
    font-family: $third-font-family;
    font-size: rem(24);
    // margin-top: rem(8);
    line-height: 1.8;
  }
}

.slide-card__discount {
  color: $blue;
  font-weight: $bold;
  font-family: $third-font-family;
  font-size: rem(32);
  line-height: 1;
  // padding: rem(10) 0 0 rem(6);
  @include mq(md) {
    font-family: $third-font-family;
    font-size: rem(40);
    line-height: 1;
  }
}
.campaign__button {
  text-align: center;
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(80);
  }
}