@use "global" as *;

.contact {
  position: relative;

  @include mq(md) {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.section__contact {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(md) {
    display: flex;
    flex-direction: initial;
    justify-content: center;
  }
}
