@use "global" as *;

.contact {
  position: relative;
  @include mq(md) {
  }
}

.contact::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/_kingyohanadai 2.svg");
  width: rem(109);
  height: rem(50);
  background-size: contain;
  object-fit: cover;
  top: rem(-20);
  right: calc(50vw - min(48vw, 10.8rem));
  z-index: 20;
  @include mq(md) {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/_kingyohanadai 2.svg");
    width: rem(301);
    height: rem(138);
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    top: rem(-36);
    right: calc(50vw - min(48vw, 41.8rem));
    z-index: 20;
  }
}

.l-contact {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
}
.contact__inner {
  width: 100%;
  display: flex;
  justify-content: center;
  @include mq(md) {
  }
}
