@use "global" as *;

.contact{
  padding-bottom:rem(31);
  position: relative;

  @include mq (md){
    display: flex;
  }
}

.logo__fish--contact {
  position: absolute;
  width: rem(109);
  height: rem(51);

}