@use "global" as *;

.footer {
  position: relative;
  background-color: $blue;
  // margin-top: rem(100);
  @include mq(md) {
    // margin-top: rem(4);
  }
}
.l-footer{
  margin-top: rem(110);
  padding-top: rem(48);
  padding-bottom: rem(96);
  @include mq(md) {
    margin-top: rem(162);
    padding-top: rem(80);
    padding-bottom: rem(96);
  }
}

.footer__inner {
  width: 100%;
  margin: auto;
  @include mq(md) {
    margin: auto;
  }
}
// footer
.logo__img--codeups--bottom {
  // position: absolute;
  width: rem(120);
  // height: rem(45);
  z-index: 15;
  // top: calc(50% + rem(70));
  // left: calc(50% - rem(110));
  // transform: translate(-50%, -50%);
  // margin-top: rem(48);
  @include mq(md) {
    // position: absolute;
    width: rem(200);
    margin-top: 0;
    // top: calc(50% + rem(104));
    // left: calc(50% - rem(440));
    // transform: translate(-50%, -50%);
  }
}

.sns__icons {
  display: flex;
  position: relative;
  // left: rem(-170);
  margin-top: rem(16);
  @include mq(md) {
    position: relative;
    margin-top: rem(38);
    margin-left: rem(40);
    // top: rem(118);
    // left: rem(-120);
  }
}
.instagram__icon {
  // position: absolute;
  z-index: 10;
  // top: calc(50% + rem(120));
  // left: calc(50% + rem(52));
  // transform: translate(-50%, -50%);
  width: rem(24);
  // height: rem(24);
  margin-left: rem(16);
  @include mq(md) {
    // position: absolute;
    // top: calc(50% + rem(16));
    // left: calc(50% - rem(116));
    // transform: translate(-50%, -50%);
    width: rem(32);
    // height: rem(32);
    z-index: 10;
    margin-left: rem(16);
  }
}
.facebook__icon {
  // position: absolute;
  z-index: 10;
  // top: calc(50% + rem(120));
  // left: calc(50% + rem(12));
  // transform: translate(-50%, -50%);
  width: rem(24);
  // height: rem(24);
  @include mq(md) {
    // position: absolute;
    // top: calc(50% + rem(16));
    // left: calc(50% - rem(164));
    // transform: translate(-50%, -50%);
    width: rem(32);
    // height: rem(32);
    z-index: 10;
  }
}
