@use "global" as *;

.footer {
  position: relative;
  background-color: $blue;
  // margin-top: rem(100);
  @include mq(md) {
    // margin-top: rem(4);
  }
}
.l-footer {
  margin-top: rem(110);
  padding-top: rem(48);
  padding-bottom: rem(96);
  @include mq(md) {
    margin-top: rem(162);
    padding-top: rem(80);
    padding-bottom: rem(96);
  }
}

.footer__inner {
  width: 100%;
  @include mq(md) {
  }
}

.logo__img-codeups-bottom {
  width: rem(120);
  z-index: 15;
  @include mq(md) {
    width: rem(200);
    margin-top: 0;
  }
}

.sns__icons {
  display: flex;
  position: relative;
  margin-top: rem(16);
  @include mq(md) {
    position: relative;
    margin-top: rem(38);
    margin-left: rem(40);
  }
}
.instagram__icon {
  z-index: 10;
  width: rem(24);
  margin-left: rem(16);
  @include mq(md) {
    width: rem(32);
    z-index: 10;
    margin-left: rem(16);
  }
}
.facebook__icon {
  z-index: 10;
  width: rem(24);
  @include mq(md) {
    width: rem(32);
    z-index: 10;
  }
}
