@use "global" as *;

.information {
  position: relative;
  background-color: #ddf0f1;
  padding: rem(86) 0 rem(78);
  box-shadow: 0 rem(2) rem(4) 0 rgba(0, 0, 0, 0.5);
  margin-right: auto;
  margin-left: auto;
  margin-top: rem(316);
  @include mq(md) {
    margin-top: rem(8);
    padding: rem(98) 0 rem(94);
    box-shadow: none;
  }
}

.information__inner {
  position: relative;
  margin: auto;
  @include mq(md) {
    margin: auto;
  }
}
