@use "global" as *;

.price {
  background-color: #ddf0f1;
  position: relative;
  padding: rem(68) 0 rem(84);
  margin-top: rem(90);
  box-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.5);
  @include mq(md) {
    margin-top: rem(150);
    padding: rem(98) 0 rem(90);
    box-shadow: none;
  }
}
.section__price {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin: auto;
  @include mq(md) {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
  }
}
