@use "global" as *;

.price {
  background-color: #ddf0f1;
  position: relative;
  @include mq(xl) {
    padding: rem(100) 0 rem(102);
  }
}
.section__price {
  position: relative;
  display: flex;
  // @include mq(xl) {
  //   padding: 0 rem(182) 0 rem(181);
  // }
}