@use "global" as *;

.voice {
  font-family: $base-font-family;
  position: relative;
  // margin-top: rem(80);
  @include mq(md) {
    // margin: auto;
    // margin-top: rem(146);
  }
}
.l-voice {
  margin-top: rem(80);
  @include mq(md) {
    // margin: auto;
    margin-top: rem(146);
  }
}
.voice__inner {
  position: relative;
  // margin: auto;
  // margin-top: rem(80);
  @include mq(md) {
    // margin: auto;
    // margin-top: rem(146);
  }
}

.voice__cards {
  display: grid;
  flex-direction: column;
  // margin: auto;
  margin-top: rem(40);
  max-width: rem(600);
  gap: rem(40);
  // padding-right: $padding-sp;
  // padding-left: $padding-sp;
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
    flex-direction: initial;
    justify-content: center;
    margin-top: rem(30);
    max-width: $inner + strip-unit($padding-pc) * 2;
    // padding-right: $padding-pc;
    // padding-left: $padding-pc;
    padding: 0;
  }
}
.voice__cards a:hover {
  opacity: 0.5;
}
.voice__cards .card {
  min-width: rem(345);
  max-width: rem(600);
  // margin-bottom:rem(40);
  @include mq(md) {
    max-width: rem(520);
    // width: rem(520);
    min-width: auto;
    // margin: rem(32) 0 0 0;
  }
}
.card__inner--voice {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: rem(16);
  padding: rem(16) rem(16) rem(26) rem(16);
  min-width: rem(345);
  max-width: rem(600);
  @include mq(md) {
    row-gap: rem(38);
    padding: rem(24);
    max-width: rem(520);
    // width: rem(520);
  }
}

.card__header--voice {
  display: grid;
  column-gap: rem(13);
  grid-row: 1;
  grid-template-columns: auto rem(151);
  // max-width: rem(600);
  @include mq(md) {
    column-gap: rem(16);
    padding: 0;
    // min-width: rem(472);
    grid-template-columns: auto rem(180);
    // height: rem(396);
  }
}
.card__header--voice--left {
  grid-row: 1;
  grid-column: 1;
  // max-width: rem(400);
  column-gap: rem(40);
  display: grid;
  @include mq(md) {
    margin-top: rem(30);
  }
}

.card__title--voice {
  grid-row: 3;
  font-family: $base-font-family;
  border-bottom: rem(1) solid $blue;
  //  width: rem(149);
  // max-width: rem(400);
  padding: rem(4) 0 rem(2);
  font-size: rem(16);
  font-weight: $bold;
  @include mq(md) {
    grid-row: 2;
    grid-column: 1/3;
    padding-top: rem(8);
    padding-bottom: rem(4);
    font-size: rem(24);
    font-weight: $bold;
    font-family: $base-font-family;
    border-bottom: rem(1) solid $blue;
  }
}
.card__voice--body {
  grid-row: 2;
}
.card__text--voice {
  padding: rem(0) 0;
  @include mq(md) {
    padding: 0;
  }
}

.voice__logo--ibaratatu {
  display: none;
  position: absolute;
  z-index: 10;
  @include mq(md) {
    // top: calc(50% + rem(302));
    // left: calc(50% + rem(506));
    // transform: translate(-50%, -50%);
    top: rem(535);
    right: rem(25);
    display: block;
    width: rem(71);
    // height: rem(162);
  }
}

