@use "global" as *;

.voice {
  font-family: $base-font-family;
  position: relative;
}
.section__voice {
  margin-bottom: rem(84);
  @include mq(md) {
    margin-bottom: rem(144);
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin: auto;
  }
}
