@use "global" as *;

.about__content {
  font-family: $second-font-family;
  font-weight: $regular;
  color: $blue;
  position: relative;
  padding-top: rem(240);
  @include mq(md) {
    display: flex;
    justify-content: center;
    padding-top: rem(200);
  }
}

.about__content--title {
  font-weight: $regular;
  color: $blue;
  z-index: 20;
  padding-top: rem(40);
  padding-left: rem(16);
  line-height: rem(40);
  @include mq(md) {
    color: $white;
    display: inline-block;
    font-size: rem(80);
    font-weight: $regular;
    font-family: $second-font-family;
    line-height: rem(100);
    padding-left: rem(160);
  }
}
.about__content--title h3 {
  display: inline-block;
  font-size: rem(40);
  font-weight: $regular;
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-size: rem(80);
    font-weight: $regular;
    font-family: $second-font-family;
    line-height: rem(100);
  }
}
.about__imgs {
  position: relative;
  width: 100%;
  height: 100%;
}

.about__img--1 {
  position: absolute;
  aspect-ratio: 132/194;
  z-index: 5;
  width: rem(132);
  height: rem(194);
  padding-right: rem(4);
  top: calc(50% + rem(124));
  left: calc(50% - rem(108));
  transform: translate(-50%, -50%);
  @include mq(md) {
    padding: 0;
    width: rem(399);
    height: rem(606);
    top: calc(50% + rem(340));
    left: calc(50% - rem(340));
    transform: translate(-50%, -50%);
  }
}

.about__img--2 {
  position: absolute;
  aspect-ratio: 880/581;
  width: rem(281);
  height: rem(186);
  top: calc(50% + rem(148));
  left: calc(50% + rem(30));
  transform: translate(-50%, -50%);
  @include mq(md) {
    width: rem(880);
    height: rem(581);
    top: calc(50% + rem(408));
    left: calc(50% + rem(100));
    transform: translate(-50%, -50%);
  }
}
.about__img--2 img {
  position: absolute;
  top: calc(50% + rem(100));
  left: calc(50% + rem(32));
  transform: translate(-50%, -50%);
}
.about__img--3 {
  position: absolute;
  display: none;
  @include mq(md) {
    top: calc(50% + rem(700));
    left: calc(50% + rem(540));
    transform: translate(-50%, -50%);
    width: rem(194);
    display: block;
  }
}

.about__text {
  font-family: $base-font-family;
  font-weight: normal;
  @include mq(md) {
    color: $white;
  }
}
.about__text p {
  font-size: rem(16);
  padding: rem(10) rem(16) rem(0) rem(14);
  @include mq(md) {
    font-size: rem(16);
    display: inline-block;
    width: rem(400);
    height: rem(144);
    z-index: 12;
    margin-left: rem(40);
    padding: rem(38) 0 0 0;
  }
}
.about__text span {
  display: none;
  @include mq(md) {
    display: inline-block;
  }
}
