@use "global" as *;

.about__content {
  font-family: $second-font-family;
  font-weight: $regular;
  color: $blue;
  position: relative;
  padding-top: rem(240);
  @include mq(xl) {
    display: flex;
    justify-content: center;
    padding-top: rem(200);
  }
}

.about__content--title {
  font-weight: $regular;
  color: $blue;
  z-index: 20;
  padding-top: rem(40);
  padding-left: rem(16);
  line-height: rem(40);
  @include mq(xl) {
    color: $white;
    display: inline-block;
    font-size: rem(80);
    font-weight: $regular;
    font-family: $second-font-family;
    line-height: rem(100);
    padding-left: rem(160);
  }
}
.about__content--title h3 {
  display: inline-block;
  font-size: rem(40);
  font-weight: $regular;
  @include mq(xl) {
    font-size: rem(80);
    font-weight: $regular;
    font-family: $second-font-family;
    line-height: rem(100);
  }
}

.about__text {
  font-family: $base-font-family;
  font-weight: normal;
  @include mq(xl) {
    color: $white;
  }
}
.about__text p {
  font-size: rem(16);
  padding: rem(10) rem(16) rem(0) rem(14);
  @include mq(xl) {
    font-size: rem(16);
    display: inline-block;
    width: rem(400);
    height: rem(144);
    z-index: 12;
    margin-left: rem(40);
    padding:rem(40) 0 0 0;
  }
}
.about__text span{
  display: none;
  @include mq(xl) {
    display: block;
  }
}