@use "global" as *;

.about__button{
  text-align: center;
  position: relative;
  z-index: 10;

  @include mq (md){
  // right: 50%;
  // transform: translateY(50%);
  top:rem(180);
  right: rem(318);
  }
}