@use "global" as *;

.about__content {
  font-family: $second-font-family;
  font-weight: $regular;
  color: $blue;
  display: flex;
  justify-content: center;

  @include mq(xl) {
    // top:50% ;
    // transform: translateY(-50%);
    font-size: rem(40);
    padding-top: rem(240);
    // left:rem(36);
    // width: rem(880);
  }
}

.about__content--title {
  font-weight: $regular;
  font-weight: $normal;
  color: $white;
  z-index: 20;
  @include mq(xl) {
    // display: inline-block;
    // font-size: rem(80);
    // font-weight: rem(400);
    // font-family: $second-font-family;
    // line-height: rem(100);
  }
}
.about__content--title h3 {
  font-weight: $regular;
  font-weight: $normal;
  color: $white;
  z-index: 20;
  @include mq(xl) {
    display: inline-block;
    font-size: rem(80);
    font-weight: rem(400);
    font-family: $second-font-family;
    line-height: rem(100);
  }
}

.about__text {
  font-family: $base-font-family;
  font-weight: normal;
  color: $white;
  @include mq(xl) {
    font-size: rem(16);
    display: inline-block;
    width: rem(400);
    height: rem(144);
    z-index: 12;
    margin-left: rem(40);
  }
}
