@use "global" as *;

.address__card {
  box-shadow: none;
  @include mq(md) {
    display: flex;
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    width: rem(1080);
    margin: rem(140) 0 rem(160);
  }
}