@use "global" as *;

.address__card {
  box-shadow: none;
  margin-bottom:rem(196);
  @include mq(xl) {
    display: flex;
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    width: rem(1080);
    height: rem(415);
    margin: rem(140) 0 rem(160);
  }
}
.contact__left--address {
  display: flex;
  text-align: center;
  flex-direction: column;
  @include mq(xl) {
    flex-direction: initial;
  }
}
