@use "global" as *;

.cards__blog{
  @include mq (md){
    position: relative;
    display: flex;
    padding-left: rem(180);
    padding-right: rem(181);
    top: rem(-120);
    justify-content: center;
  }
}
