@use "global" as *;



.blog-cards {
  display: grid;
  position: relative;
  justify-content: center;
  @include mq(md) {
    gap: rem(38);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards :hover {
  opacity: 0.7;
}
.blog-cards__item{
  display: grid;
  grid-template-rows: auto 1fr auto;
}