@use "global" as *;

.blog__cards {
  position: relative;
  @include mq(xl) {
    display: flex;
    justify-content: center;
    // padding-right: rem(180);
    // padding-left: rem(181);
    top: rem(40);
    width: 100%;
  }
}
