@use "global" as *;

.blog__bg--img {
  display: none;
  @include mq(md) {
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    margin-top: 0;
  }
}
.blog__bg--img img {
  @include mq(md) {
    z-index: 1;
    height: rem(500);
    max-height: 500px;
    width: 100vw;
    display: block;
    object-fit: cover;
  }
}


// .blog__logo--1 {
//   display: none;
//   @include mq(md) {
//     position: absolute;
//     display: block;
//     width: rem(437);
//     // // height: rem(201);
//     // top: calc(50% - rem(286));
//     // left: calc(50% - rem(400));
//     // transform: translate(-50%, -50%);
//     top: rem(-80);
//     left: rem(-55);
//   }
// }
// .blog__logo--2 {
//   display: none;
//   z-index: 15;
//   @include mq(md) {
//     position: absolute;
//     display: block;
//     width: rem(301);
//     // height: rem(138);
//     // top: calc(50% + rem(506));
//     // left: calc(50% - rem(470));
//     // transform: translate(-50%, -50%);
//     margin-top: rem(20);
//     margin-left: rem(-80);
//   }
// }
