@use "global" as *;

.blog__bg--img {
  display: none;
  @include mq(md) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    top: rem(255);
    height: rem(500);
    display: block;
  }
}

.blog__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(md) {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    // padding-right: rem(180);
    // padding-left: rem(181);
    top: rem(40);
    width: 100%;
  }
}
