@use "global" as *;

.blog__bg--img {
  display: none;
  @include mq(md) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    top: rem(255);
    display: block;
  }
}
.blog__bg--img img {
  @include mq(md) {
    z-index: 1;
    height: rem(500);
    max-height: 500px;
    width: 100vw;
    display: block;
  }
}

.blog__cards {
  position: relative;
  display: grid;
  // flex-direction: column;
  justify-content: space-between;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  max-width: rem(600);
  margin: auto;
  @include mq(md) {
    // flex-direction: initial;
    grid-template-columns: repeat(3,1fr);
    gap: rem(38);
    justify-content: center;
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin-top: rem(38);
    // max-width: none;
    margin: auto;
    // width: 100%;
  }
}
.blog__cards a {
  max-width: rem(600);
  @include mq(md) {
    max-width: rem(333);
    // width: rem(333);
    margin: rem(40) 0 0;
  }
}

.blog__cards :hover {
  opacity: 0.7;
}

.button__blog {
  text-align: center;
  margin-right: rem(2);
  margin-top: rem(26);
  @include mq(md) {
    margin: rem(84) rem(14) 0 0;
    padding: 0 0 0 rem(8);
  }
}

.blog__logo--1 {
  display: none;
  @include mq(md) {
    position: absolute;
    display: block;
    width: rem(437);
    height: rem(201);
    top: calc(50% - rem(286));
    left: calc(50% - rem(400));
    transform: translate(-50%, -50%);
  }
}
.blog__logo--2 {
  display: none;
  z-index: 15;
  @include mq(md) {
    position: absolute;
    display: block;
    width: rem(301);
    height: rem(138);
    top: calc(50% + rem(506));
    left: calc(50% - rem(470));
    transform: translate(-50%, -50%);
  }
}