@use "global" as *;

.button__content {
  text-align: center;
  // margin: rem(40) 0 rem(69);
  @include mq(xl) {
    padding: rem(80) 0 rem(0);
  }
}

.button {
  position: relative;
  display: inline-block;
  line-height: rem(22);
  font-size: rem(14);
  color: $white;
  background-color: $blue;
  padding: rem(16) rem(40);
  text-align: center;
  font-family: $second-font-family;
  width: rem(202);
  height: rem(54);
  @include mq(xl) {
    width: rem(202);
    height: rem(56);
  }
}

.button::after {
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(4);
  width: 100%;
  height: 100%;
  border: rem(1) solid $blue;
  z-index: 10;
}
.stickarrow {
  display: inline-block;
  width: rem(40);
  height: rem(6);
  border-bottom: rem(1) solid $white;
  border-right: rem(1) solid $white;
  transform: skew(45deg);
  padding-bottom: rem(2);
}
.button a {
  display: block;
}

.button__contact {
  @include mq(xl) {
    padding: rem(40) 0 rem(99);
    text-align: center;
  }
}
