@use "global" as *;

.button {
  position: relative;
  display: inline-block;
  line-height: rem(22);
  font-size: rem(14);
  color: $white;
  background-color: $blue;
  padding: rem(16) rem(40);
  text-align: center;
  font-family: $second-font-family;
  width: rem(202);
  height: rem(54);
  @include mq(xl) {
    width: rem(202);
    height: rem(56);
  }
}
.button span {
  margin-right: rem(2);
  margin-left: rem(5);
}

.button::after {
  content: "";
  position: absolute;
  top: rem(4);
  left: rem(4);
  width: 100%;
  height: 100%;
  border: rem(1) solid $blue;
  z-index: 10;
}
.stickarrow {
  display: inline-block;
  width: rem(40);
  height: rem(8);
  border-bottom: rem(1) solid $white;
  border-right: rem(1) solid $white;
  transform: skew(45deg);
  padding-bottom: rem(2);
  margin: rem(0) rem(0) rem(2) rem(0);
}
.button a {
  display: block;
}

.button__information {
  text-align: center;
  margin-top: rem(40);
  margin-right: rem(2);
  @include mq(xl) {
    position: absolute;
    top: calc(50% + rem(88));
    left: calc(50% + rem(292));
    transform: translate(-50%, -50%);
  }
}

.button__campaign {
  text-align: center;
  margin-right: rem(4);
  @include mq(xl) {
    margin: rem(35) rem(16) 0 0;
  }
}
.button__about {
  text-align: center;
  position: absolute;
  z-index: 10;
  position: absolute;
  top: calc(50% + rem(328));
  left: calc(50% - rem(2));
  transform: translate(-50%, -50%);
  @include mq(xl) {
    top: calc(50% + rem(232));
    left: calc(50% + rem(296));
    transform: translate(-50%, -50%);
  }
}
.button__blog {
  text-align: center;
  margin-right: rem(2);
  @include mq(xl) {
    margin: rem(118) rem(14) 0 0;
    padding: 0 0 0 rem(8);
  }
}

.button__voice {
  text-align: center;
  margin-right: rem(2);
  @include mq(xl) {
    text-align: center;
    margin: rem(78) rem(4) 0 0;
  }
}
.button__contact {
  position: absolute;
  position: absolute;
    top: calc(50% + rem(370));
    left: calc(50% - rem(2));
    transform: translate(-50%, -50%);
  @include mq(xl) {
    position: absolute;
    top: calc(50% + rem(103));
    left: calc(50% + rem(268));
    transform: translate(-50%, -50%);
    padding: rem(30) 0 rem(99);
    text-align: center;
  }
}
.button__price {
  margin-top: rem(982);
  margin-right: rem(2);
  text-align: center;
  @include mq(xl) {
    margin-top: rem(866);
    margin-right: rem(6);
  }
}
