@use "global" as *;
.button__contact {
  margin-top: rem(40);
  padding: 0;
  @include mq(md) {
    // position: absolute;
    // top: calc(50% + rem(66));
    // left: calc(50% + rem(268));
    // transform: translate(-50%, -50%);
    margin-top: rem(40);
    text-align: center;
  }
}