@use "global" as *;

.card {
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  font-family: $base-font-family;
  background-color: $white;
  padding-top: rem(16);
  padding-right: rem(16);
  padding-left: rem(16);
  padding-bottom: rem(24);
  @include mq(md) {
    padding: rem(16) rem(18) rem(24) rem(18);
    min-width: auto;
  }
}

.card__age {
  grid-row: 1;
  grid-column: 1;
  font-size: rem(12);
  padding-top: 0;
  line-height: 1;
  @include mq(md) {
    padding-top: rem(16);
    font-size: rem(12);
    font-family: $base-font-family;
    line-height: 1;
    font-weight: $normal;
  }
}

.card__icon {
  grid-row: 2;
  display: inline-block;
  color: $blue;
  align-self: center;
  font-size: rem(12);
  padding: rem(5) rem(11);
  // margin-top: rem(2);
  font-family: $base-font-family;
  border: rem(1) solid $blue;
  width: fit-content;
  @include mq(md) {
    justify-self: end;
    grid-row: 1;
    font-size: rem(12);
    padding: rem(6) rem(16);
    // margin: rem(24) 0 0 0;
  }
}
