@use "global" as *;

.card {
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  font-family: $base-font-family;
  background-color: $white;
  padding-top: rem(16);
  padding-right: rem(16);
  padding-left: rem(16);
  padding-bottom: rem(24);
  @include mq(md) {
    padding: rem(16) rem(18) rem(24) rem(18);
    min-width: auto;
  }
}



.card__icon {
  grid-row: 2;
  display: inline-block;
  color: $blue;
  font-size: rem(12);
  padding: rem(5) rem(11);
  font-family: $base-font-family;
  border: rem(1) solid $blue;
  width: fit-content;
  @include mq(md) {
    grid-row: 1;
    font-size: rem(12);
    padding: rem(6) rem(16);
  }
}
