@use "global" as *;

.contact__fish {
position: absolute;
width: rem(109);
height: rem(50);

padding-top: rem(54);
  @include mq (md){  
width: rem(301);
height: rem(138);
// padding-top: rem(54);
// left: 70%;
top: rem(100);
right:rem(50);
// left: rem(1089);
bottom: rem(477);
transform: translateY(-50%);
z-index: 10;
  }
}