@use "global" as *;

.contactform{
display: flex;
flex-direction: column;
max-width: rem(345) + strip-unit($padding-sp) * 2;
padding-right: $padding-sp;
padding-left: $padding-sp;
width: 100%;
margin-right: auto;
margin-left: auto;
@include mq("md") {
  max-width: rem(750);
  padding-right: $padding-pc;
  padding-left: $padding-pc;
}
}

.contactform label{
  display: inline;
  font-size: rem(16);
  font-weight: $bold;
  border-bottom: 1px dotted $blue;
  }

// .contactform input{
//   display: flex;
//   flex-direction: inherit;
//   border: 1px solid $blue;
//   padding-top: rem(8);
//   padding-bottom: rem(8);
//   padding-left: rem(16);
// }

.contactform__required{
background-color: red;
color: $white;
margin-left: rem(8);
padding-top: rem(2);
padding-bottom: rem(2);
padding-right: rem(16);
padding-left: rem(16);
font-weight: $regular;
}