@use "global" as *;

.contact__map{
  aspect-ratio: 295 /160;

  @include mq (md){
    width: rem(295);
    height: rem(160);
    margin: 0 rem(40);
    // width: rem(273);
    // height: rem(148);
  }
}