@use "global" as *;

.contact__left--address {
  display: flex;
  text-align: center;
  flex-direction: column;
  @include mq(md) {
    flex-direction: initial;
  }
}
.contact__content {
  // justify-content:start ;
  font-family: $base-font-family;
  text-align: center;
  margin-top: rem(168);
  @include mq(md) {
    text-align: left;
    margin: rem(76) rem(5) 0 rem(50);
    font-size: rem(16);
    // width:rem(146) ;
  }
}
.contact__content p {
  line-height: rem(24);
  font-size: rem(16);
  margin-bottom: rem(4);
  @include mq(md) {
    margin-bottom: rem(4);
    line-height: rem(24);
    font-size: rem(16);
  }
}

.contact__left {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: rem(16);
  line-height: rem(24);
  font-family: $base-font-family;

  @include mq(md) {
    display: flex;
    width: rem(572);
    border-top: none;
    margin: 0;
    padding: 0;
  }
}
.contact__map img {
  aspect-ratio: 273 / 148;
  width: rem(295);
  height: rem(160);
  margin-top: rem(14);
  margin-left: rem(40);
  @include mq(md) {
    width: rem(273);
    height: rem(148);
    margin-top: rem(76);
    margin-left: rem(16);
  }
}
.contact__right {
  text-align: center;
  font-size: rem(16);
  line-height: rem(24);
  font-family: $base-font-family;
  // padding: rem(16) rem(40);
  // border-top: 1px solid $blue;
  margin: rem(68) 0 0;
  border: none;
  @include mq(md) {
    border-left: 1px solid $blue;
    display: flex;
    padding: 0 rem(112) 0 rem(80);
    border-top: none;
    margin: rem(80) 0 rem(80) 0;
  }
}
