@use "global" as *;

.contact__logo{
  position: relative;
  width: rem(174);
  height: rem(65);
  margin: auto;
margin-top: rem(80);
@include mq (md){
  width: rem(200);
  height: rem(75);
  position: absolute;
  top: rem(80);
  left: rem(351);
}
}