@use "global" as *;
.contact__inner {
  width: auto;
  // padding-right: $padding-sp;
  // padding-left: $padding-sp;
  // margin: auto;
  @include mq("md") {
    width: 100%;
    // padding-right: $padding-pc;
    // padding-left: $padding-pc;
  }
}

.contact__contents {
  font-size: rem(16);
  margin-top: rem(16);
  @include mq(md) {
    // margin-top: rem(4);
    font-size: rem(16);
  }
}

.contact__content {
  font-family: $base-font-family;
  text-align: center;
  line-height: 1.7;
  // margin-top: rem(162);
  @include mq(md) {
    text-align: left;
    line-height: 1.7;
    // margin: rem(70) rem(5) 0 rem(50);
    font-size: rem(16);
    margin-left: rem(40);
  }
}

.contact__left {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: rem(16);
  line-height: 1.5;
  font-family: $base-font-family;
  max-width: rem(600);
  @include mq(md) {
    display: flex;
    line-height: 1.5;
    border-right: 1px solid $blue;
    // max-width: rem(572);
    border-top: none;
    // margin-top: rem(84);
    // margin-bottom: rem(76);
    padding-right: rem(82);
  }
}
.contact__map {
  max-width: rem(295);
  // height: rem(160);
  text-align: center;
  margin-top: rem(18);
  @include mq(md) {
    max-width: rem(273);
    // height: rem(148);
    // margin-top: rem(24) ;
    margin-left: rem(21);
  }
}
.contact__map {
  aspect-ratio: 273 / 148;
  object-fit: cover;
  max-width: rem(295);
  // height: rem(160);
  @include mq(md) {
    max-width: rem(273);
    // height: rem(148);
  }
}
.contact__left--address {
  display: flex;
  text-align: center;
  flex-direction: column;
  @include mq(md) {
    flex-direction: initial;
    margin-top: rem(8);
    margin-left: rem(10);
  }
}
.contact__right {
  text-align: center;
  font-size: rem(16);
  line-height: 1;
  font-family: $base-font-family;
  margin-top: rem(40);
  border: none;
  max-width: rem(600);
  @include mq(md) {
    display: flex;
    flex-direction: column;
    line-height: 1;
    display: flex;
    padding: rem(2) rem(112) rem(0) rem(80);
    border-top: none;
    margin: 0;
  }
}

.address__card {
  box-shadow: none;
  @include mq(md) {
    display: flex;
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    width: rem(1080);
    // height: rem(415);
    margin: rem(140) 0 rem(160);
  }
}
.contact__card {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  text-align: center;
  align-items: center;
  max-width: rem(600);
  // padding: rem(33) 0;
  @include mq(md) {
    align-items: normal;
    display: flex;
    flex-direction: initial;
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    max-width: rem(1080);
    // height: rem(415);
    // margin: rem(140) 0 rem(160);
    padding: rem(80) 0;
  }
}


// .contact__logo--fish {
//   position: absolute;
//   width: rem(109);
//   height: rem(50);
//   // top: calc(50% - rem(272));
//   // left: calc(50% + rem(118));
//   // transform: translate(-50%, -50%);
//   top: rem(-26);
//   right: rem(15);
//   @include mq(md) {
//     position: absolute;
//     width: rem(301);
//     height: rem(138);
//     top: rem(-38);
//     right: rem(50);
//     // z-index: 10;
//   }
// }
.contact__logo--codeups {
  text-align: center;
  border-bottom: rem(1) solid $blue;
  max-width: rem(295);
  padding-right: rem(60);
  padding-left: rem(60);
  padding-bottom: rem(6);
  @include mq(md) {
    max-width: rem(440);
    // padding: 0 rem(119) rem(9) rem(121);
    // margin: rem(80) rem(82) rem(24) rem(50);
    padding-left: rem(120);
    padding-right: rem(120);
    // margin-top: rem(82);
    margin-left: rem(50);
    padding-bottom: rem(8);
  }
}
// .contact__logo--codeups source {
//   display: block;
//   width: rem(174);
//   @include mq(md) {
//     width: rem(200);
//   }
// }
.contact__logo--codeups img {
  // position: absolute;
  display: block;
  z-index: 15;
  // width: rem(295);
  // top: calc(50% + rem(115));
  // left: calc(50% + rem(0));
  // transform: translate(-50%, -50%);
  // padding: 0 rem(60) ;
  @include mq(md) {
    // position: absolute;
    display: block;
    width: 100%;
    // border-bottom: rem(1) solid $blue;
    // padding: 0 rem(120) rem(8);
    // top: calc(50% + rem(38));
    // left: calc(50% + rem(0));
    // transform: translate(-50%, -50%);
  }
}
