@use "global" as *;

.contact__left{
  text-align: center;
  font-size: rem(16);
  line-height: rem(24);
  font-family: $base-font-family;
  padding: rem(16) rem(40);
  border-top: 1px solid $blue;
@include mq (md){
  display: flex;
  padding-top: rem(24);
  border-top: none;
  margin-top: auto;
  margin-bottom: auto; 
  border-top: 1px solid $blue; 
  padding: 0;
  }
}
