@use "global" as *;

.contact__content {
  font-family: $base-font-family;
  text-align: center;
  margin-top: rem(162);
  @include mq(md) {
    text-align: left;
    margin: rem(70) rem(5) 0 rem(50);
    font-size: rem(16);
  }
}
.contact__content p {
  font-size: rem(16);
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(4);
    line-height: 1.5;
    font-size: rem(16);
  }
}

.contact__left {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: rem(16);
  line-height: 1.5;
  font-family: $base-font-family;
  max-width: rem(600);
  @include mq(md) {
    display: flex;
    line-height: 1.5;
    width: rem(572);
    border-top: none;
    margin: 0;
    padding: 0;
  }
}
.contact__map {
  width: rem(295);
  height: rem(160);
  text-align: center;
  margin: rem(18) 0 0;
  @include mq(md) {
    width: rem(273);
    height: rem(148);
    margin: rem(70) 0 0 rem(16);
  }
}
.contact__map img {
  aspect-ratio: 273 / 148;
  width: rem(295);
  height: rem(160);
  @include mq(md) {
    width: rem(273);
    height: rem(148);
  }
}
.contact__map img {
  aspect-ratio: 273 / 148;
  width: rem(295);
  height: rem(160);
  @include mq(md) {
    width: rem(273);
    height: rem(148);
  }
}
.contact__right {
  text-align: center;
  font-size: rem(16);
  line-height: 1;
  font-family: $base-font-family;
  margin: rem(40) 0 0;
  border: none;
  max-width: rem(600);
  @include mq(md) {
    line-height: 1;
    border-left: 1px solid $blue;
    display: flex;
    padding: rem(2) rem(112) rem(0) rem(80);
    border-top: none;
    margin: rem(80) 0;
  }
}
