@use "global" as *;

.contact__map img {
  aspect-ratio: 273 / 148;
  position: absolute;
  @include mq(xl) {
    width: rem(273);
    height: rem(148);
    top: calc(50% + rem(45));
    left: calc(50% - rem(186));
    transform: translate(-50%, -50%);
    
  }
}
