@use "global" as *;

.contact__logo--codeups {
  position: relative;
  border-bottom: rem(1) solid $blue;
  @include mq(xl) {
    padding: 0 rem(119) rem(9) rem(121);
    margin: rem(80) rem(82) rem(24) rem(50);
  }
}

.contact__logo--codeups img {
  @include mq(xl) {
    width: rem(200);
  }
}
