@use "global" as *;

.contact__logo--fish {
  position: absolute;
  width: rem(109);
  height: rem(50);
  @include mq(xl) {
    width: rem(301);
    height: rem(138);
    top: calc(50% - rem(188));
    left: calc(50% + rem(520));
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
