@use "global" as *;

.contact__logo{
  position: relative;
  border-bottom:rem(1) solid $blue ;
  


@include mq (md){
  // width: rem(440);
  // height: rem(65);
  // position: absolute;
  // top: rem(80);
  // left: rem(351);
  // width: rem(440);
  // height: rem(65);
  padding: 0 rem(119) ;
  margin:rem(80) rem(82)  rem(24) rem(50);

}
}
.contact__logo img{
  width: rem(200);
}