@use "global" as *;

.copyright {
  font-family: $second-font-family;
  font-weight: $normal;
  text-align: center;
  color: $white;
  background-color: $blue;
  font-size: rem(11.9);
  padding-bottom: rem(56);
  @include mq(md) {
    font-size: rem(14);
    line-height: 1;
    padding: 0 0 rem(56);
  }
}
