@use "global" as *;

.copyright{
  font-size: rem(12);
  font-family: $second-font-family;
  font-weight: $normal;
  line-height: rem(18);
  text-align: center;
  background-color: $blue;
  color: $white;
  padding: rem(40) rem(14) rem(56);
}