@use "global" as *;

.header {
  position: fixed;
  width: 100vw;
  // height: rem(80);
  background: #0d293689;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  text-align: center;
  align-items: center;
  height: rem(80);
  @include mq(md) {
    position: fixed;
    height: rem(90);
  }
}

.header__inner {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: inherit;
  justify-content: space-between;
  @include mq(md) {
    width: 100vw;
    height: inherit;
    padding: 0 rem(20) 0 rem(39);
  }
}
.header__inner--logo{
  height: inherit;
  align-items: center;
}
.header__inner--logo a{
  height: inherit;
}

.header.active {
  background-color: transparent;
}

.logo__img--codeups {
  // position: absolute;
  display: inline-block;
  width: rem(113);
  // top: rem(21);
  // left: rem(10);
  z-index: 25;
  @include mq(md) {
    // left: rem(35);
    width: rem(145);
  }
}
.logo__img--codeups a {
  display: inline-block;
}