@use "global" as *;

.header{
  width: 100vw;
  height: rem(80);
  background: #0d293689;
  position: fixed;
  display: flex;
  // justify-content: space-around;
  z-index: 11;
  @include mq (md){
    height: rem(90);
    text-align: center;
    // justify-content: space-around;
  }
}

.header__inner{
  display: flex;
  align-items: center;
  padding: 0 rem(15) 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  @include mq (md){
  }
}

.header.active{
  background-color: transparent;
}