@use "global" as *;

.hero__contents{
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  text-align: center;
  color: $white;
  max-width: rem(248);
  max-height: rem(81);
  z-index: 5;
}

.hero__inner{
  position: absolute;
  width: 100vw;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  
  }
  
  
  .hero__title{
    font-size: rem(40);
    display: block;
    font-family: $second-font-family;
    letter-spacing: rem(21.6);
    font-weight: $regular;
    text-align: center;
    @include mq (md){
      font-size: rem(80);
      letter-spacing: rem(43.2);
      line-height: rem(100);
      font-family: $second-font-family;
    }
    
  }
  
  .hero__subtitle {
    display: block;
    font-size: rem(20);
    font-family: $second-font-family;
    font-weight:$regular;
  @include mq (md) {
    font-size: rem(20);
    font-family: $second-font-family;
    line-height: normal;

  } 
  }
  