@use "global" as *;

.hero__swiper img {
  width: 100%;
  height: 100vh;
  aspect-ratio: 375 / 667;
  @include mq(md) {
    width: 100%;
    height: 100vh;
    aspect-ratio: 1440 / 768;
  }
}

.hero__swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__swiper-wraper {
  width: 100%;
  height: 100vh;
}

.hero__swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  aspect-ratio: 375 / 667;
  @include mq(md) {
    aspect-ratio: 1440 / 768;
  }
}

.hero__swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  aspect-ratio: 375 / 667;
  @include mq(md) {
    width: 100%;
    height: 100vh;
    aspect-ratio: 1440 / 768;
  }
}
