@use "global" as *;

.information__content {
  display: flex;
  flex-direction: column;
  @include mq(xl) {
    display: flex;
    flex-direction: inherit;
    padding: rem(40) rem(48) 0 0;
  }
}

.information__content--title {
  border-bottom: rem(1) solid $blue;
  margin-left: rem(16);
  width: rem(345);
  @include mq(xl) {
    border-bottom: rem(1) solid $blue;
    width: rem(492);
    padding-bottom: rem(6);
    margin-top: rem(64);
    margin-left: rem(32);
  }
}

.information__content--title h3 {
  font-family: $base-font-family;
  font-weight: $bold;
  font-size: rem(20);
  @include mq(xl) {
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(24);
    line-height: rem(24);
  }
}

.information__content--text {
  font-family: $base-font-family;
  font-weight: $normal;
  padding: rem(8) rem(16) 0 rem(16);
  @include mq(xl) {
    width: rem(492);
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: rem(24);
    margin: rem(6) rem(0) 0 rem(32);
    padding: rem(4) 0 0;
  }
}

.information__content--img {
  margin: rem(24) rem(16) rem(24);
  @include mq(xl) {
    margin-left: rem(180);
    margin-top: rem(2);
  }
}

.information__content--img img {
  aspect-ratio: 540/356;
  width: rem(345);
  height: rem(227);
  @include mq(xl) {
    width: rem(540);
    height: rem(356);
  }
}

