@use "global" as *;

.information__content {
  display: flex;
  flex-direction: column;
  max-width: rem(600);
  margin: auto;
  padding: 0;
  @include mq(md) {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    max-width: none;
    padding: rem(40) 0 0 0;
    gap: rem(18);
  }
}

.information__content--title {
  padding-top: rem(22);
  border-bottom: rem(1) solid $blue;
  @include mq(md) {
    padding: 0;
    border-bottom: rem(1) solid $blue;
    padding-bottom: rem(8);
    margin-top: rem(66);
    margin-left: rem(28);
  }
}

.information__content--title h3 {
  font-family: $base-font-family;
  font-weight: $bold;
  font-size: rem(20);
  @include mq(md) {
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: rem(24);
    line-height: 1;
  }
}

.information__content--text {
  font-family: $base-font-family;
  font-weight: $normal;
  padding-top: rem(8);
  @include mq(md) {
    width: rem(492);
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
    margin: 0 0 0 rem(28);
    padding: rem(6) 0 0;
  }
}

.information__content--img {
  margin: rem(28) 0 0 0;
  // width: rem(345);
  max-width: fit-content;
  @include mq(md) {
    width: rem(540);
    height: rem(356);
    margin-top: rem(2);
  }
}

.information__content--img img {
  aspect-ratio: 540/356;
  // width: rem(345);
  max-width: fit-content;
  // @include mq(md) {
  //   width: rem(540);
  //   height: rem(356);
  // }
}
