@use "global" as *;

.logo__img--bottom {
  position: absolute;
  display: block;

  @include mq(xl) {
    width: rem(200);
    top: rem(80);
    left: rem(180);
  }
}

.logo__img img {
  position:relative;
  display: inline-block;
  @include mq(xl) {
    width: rem(133);
    height: rem(50);
  }
}
.logo__img a {
  display: inline-block;
}

.blog__logo--1 {
  display: none;
  @include mq(xl) {
    display: block;
    width: rem(437);
    height: rem(201);
    box-shadow: none;
    position: relative;
    top: rem(-100);
    left: rem(50);
  }
}
.blog__logo--2 {
  display: none;
  @include mq(xl) {
    position: relative;
    display: block;
    width: rem(301);
    height: rem(138);
    left: rem(100);
  }
}

.logo__voice--ibaratatu {
  display: none;
  @include mq(xl) {
    display: block;
    width: rem(71);
    height: rem(162);
    position: absolute;
    z-index: 10;
    right: rem(180);
    bottom: rem(73);
  }
}
