@use "global" as *;

.logo__img--codeups img {
  position: relative;
  display: inline-block;
  @include mq(xl) {
    margin-top: rem(5);
    width: rem(133);
    height: rem(50);
  }
  @include mq(sp) {
    width: rem(102);
    height: rem(38);
}
.logo__img--codeups a {
  display: inline-block;
}

.blog__logo--1 {
  display: none;
  position: absolute;
  @include mq(xl) {
    display: block;
    width: rem(437);
    height: rem(201);
    top: calc(50% - rem(356));
    left: calc(50% - rem(400));
    transform: translate(-50%, -50%);
  }
}
.blog__logo--2 {
  display: none;
  z-index: 15;
  @include mq(xl) {
    position: absolute;
    display: block;
    width: rem(301);
    height: rem(138);
    top: calc(50% + rem(438));
    left: calc(50% - rem(470));
    transform: translate(-50%, -50%);
  }
}

.voice__logo--ibaratatu {
  display: none;
  position: absolute;
  z-index: 10;
  @include mq(xl) {
    top: calc(50% + rem(302));
    left: calc(50% + rem(506));
    transform: translate(-50%, -50%);
    display: block;
    width: rem(71);
    height: rem(162);
  }
}

.logo__img--codeups--bottom  {
  position: absolute;
  z-index: 15;
  @include mq(xl) {
    width: rem(200);
    top: calc(50% + rem(122));
    left: calc(50% + rem(280));
    transform: translate(-50%, -50%);
  }
}
