@use "global" as *;

.mainvisial {
  img {
    max-width: 100vw;
    height: 100%;
  }
}
.mainvisial {
  width: 100vw;
  height: 100%;
  // background-image: url(./assets/images/common/mainview.1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  @include mq(md) {
    width: 100vw;
    height: auto;
    aspect-ratio: 1440 / 768;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
