@use "global" as *;

.mainvisial {
  img {
    max-width: 100%;
    height: 100%;
  }
}
.mainvisial {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  @include mq(md) {
    width: 100%;
    height: 100%;
    aspect-ratio: 1440 / 768;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
