@use "global" as *;

.main__swiper img {
  width: 100%;
  height: 100vh;
}

.main__swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main__swiper-wraper{
  width: 100%;
  height: 100vh;
}

.main__swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main__swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
}
