@use "global" as *;

.nav__pc{
  color: $white;
  display: none;
  // width: 100%;
  z-index: 11;

  @media (min-width: 768px) {
    display: block; /* 表示に変更 */
    height: rem(90);
  }
}

.nav__items--pc{
display: flex ;
// width: 100%;
text-align: center;
}
.nav__items--pc h2{
font-size: rem(18);
font-weight: $regular;
font-family: $second-font-family;
line-height: rem(18);
padding: rem(26)  rem(20) 0 rem(20);

}
.nav__items--pc h3{
font-size: rem(10);
font-weight: $regular;
font-family: $base-font-family;
line-height: rem(15);
padding: 0 rem(30) 0 rem(29);

}

.nav__bottom--flexes{
  @include mq (md){
    display: flex;
    justify-content: space-around;
    padding:rem(179) rem(0) rem(80) rem(0);
  // width: 80%;
  margin: auto;
  }
}

.nav__bottom--flex{
  @include mq (md){
    width: rem(148);
  }
}
.nav__bottom--flex--bold{
  @include mq (md){
    width: rem(160);
  }
}