@use "global" as *;

.nav{
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: $blue;
  z-index: 20;
}

.nav.active {
  z-index: 20;
  display: block;
  height: 100vh;
  width: 100vw;
  top: 0%;
}
