@use "global" as *;

.nav__bottom {
  position: relative;
  padding-bottom: rem(40);
  @include mq(md) {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin: auto;
    padding: 0;
  }
}

.nav__bottom--flexes {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 1;
  @include mq(md) {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    padding: rem(176) rem(0) rem(80) rem(40);
    margin: auto;
  }
}

.nav__bottom--left {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: rem(138) 0 0 rem(0);
  padding: 0 0 0 rem(12);
  width: rem(168);
  @include mq(md) {
    width: 40%;
    margin: 0;
    // padding: 0 rem(16) 0 rem(0);
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
  }
}
.nav__bottom--right {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: rem(140);
  padding-left: rem(28);
  width: rem(160);
  @include mq(md) {
    width: 40%;
    display: flex;
    flex-direction: initial;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
}

.nav__bottom--flex {
  position: relative;
  margin: 0;
  @include mq(md) {
    position: relative;
    margin: 0;
  }
}
.nav__bottom--left .nav__bottom--flex {
  position: relative;
  padding-top: rem(8);
  @include mq(md) {
    padding: 0;
    margin: 0;
  }
}
.nav__bottom--right .nav__bottom--flex {
  position: relative;
  padding: 0;
  @include mq(md) {
    padding: 0;
    margin: 0;
  }
}
.nav__bottom--flex--fast {
  position: relative;
  margin: 0;
  padding-left: rem(2);
  @include mq(md) {
    position: relative;
    padding: 0 0 0;
    margin:0;
  }
}

.nav__bottom--flex--bold {
  position: relative;
  padding-right: rem(30);
  padding-top: rem(6);
  @include mq(md) {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    margin: 0 ;
  }
}
