@use "global" as *;

.nav-bottom {
  position: relative;
  // padding-bottom: rem(44);
  @include mq(md) {
    // margin: auto;
    padding: 0;
  }
}

.nav-bottom__flexes {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 1;
  @include mq(md) {
    display: flex;
    gap: rem(142);
    flex-direction: initial;
    justify-content: start;
    margin-top: rem(24);
  }
}


.nav-bottom__flex {
  position: relative;
  margin: 0;
  @include mq(md) {
    position: relative;
    // width: rem(160);
  }
}

