@use "global" as *;

.nav__items {
  display: flex;
  z-index: 10;
  color: $white;
  font-weight: $regular;
  padding-top: rem(0);
  z-index: 15;
  @include mq(xl) {
    padding-top: rem(0);
    font-weight: $regular;
    font-family: $base-font-family;
  }
}


.nav_item a {
  display: block;
}

.nav__items--left {
  width: 50%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  height: 100vh;
  z-index: 15;
}
.nav__items--right {
  width: 50%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
  height: 100vh;
}

.nav__item {
  padding-top: rem(24);
  @include mq(xl) {
    padding-top: rem(24);
  }
}

.nav__item--bold {
  font-weight: $bold;
  margin-top: rem(40);
  @include mq(xl) {
    position: relative;
    font-weight: $bold;
    margin-top: rem(40);
  }
}

.nav__item--bold.top {
  margin-top: rem(34 );
  font-weight: $bold;
  @include mq(xl) {
    font-weight: $bold;
    margin-top: rem(0);
  }
}

.nav__item--bottom {
  z-index: 10;
  color: $white;
  font-weight: $regular;
  @include mq(xl) {
    // justify-content: space-around;
    // margin: auto;
  }
}
.nav__bottom--icons {
  display: flex;
  position: absolute;
  flex-direction: column;
}

.nav__items--left--bottom {
  width: 50%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
}
.nav__item--right--bottom {
  width: 50%;
  font-family: $base-font-family;
  font-size: rem(16);
  color: $white;
}
