@use "global" as *;

.nav__hitode {
  position: absolute;
  margin-top: rem(42);
  margin-left: rem(15);
}
.nav__hitode img {
  width: rem(18);
  height: rem(18);
  @include mq(xl) {
    position: absolute;
    width: rem(18);
    height: rem(18);
  }
}

.nav__hitode--bottom {
  position: absolute;
  width: rem(18);
  height: rem(18);
  @include mq(xl) {
    position: absolute;
    top: calc(50% + rem(0));
    left: calc(50% - rem(75));
    transform: translate(-50%, -50%);
    width: rem(18);
    height: rem(18);
  }
}
.nav__hitode--bottom--left {
  position: absolute;
  width: rem(18);
  height: rem(18);
  @include mq(xl) {
    position: absolute;
    top: calc(50% + rem(0));
    left: calc(50% - rem(84));
    transform: translate(-50%, -50%);
    width: rem(18);
    height: rem(18);
  }
}
.nav__hitode--bottom--right {
  position: absolute;
  width: rem(18);
  height: rem(18);
  @include mq(xl) {
    position: absolute;
    top: calc(50% + rem(0));
    left: calc(50% - rem(90));
    transform: translate(-50%, -50%);
    width: rem(18);
    height: rem(18);
  }
}
