@use "global" as *;

.nav__hitode {
  position: relative;
}
.nav__hitode::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/common/_hitode.svg");
  width: rem(20);
  height: rem(20);
  background-repeat: no-repeat;
  // background-size: auto;
  left: rem(-23);
  top: rem(0);
}

.nav__items {
  position: relative;
}

