@use "global" as *;

.nav__pc {
  color: $white;
  display: none;
  z-index: 20;
  @include mq(md) {
    display: block;
    height: rem(90);
  }
}

.nav__items--pc {
  display: flex;
  text-align: center;
  height: rem(90);
}
.nav__items--pc a {
  position: relative;
  display: inline-block;
  height: rem(90);
  padding:0;
  padding: rem(26) rem(20) 0 rem(20);
}
.nav__items--pc li {
  position: relative;
  font-weight: $regular;
  font-size: rem(18);
  // padding: rem(26) rem(15) 0 rem(20.5);
  @include mq(md) {
    // padding: rem(26) rem(20) 0 rem(20);
  }
}

.nav__items--pc li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #fff;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
  margin: 0 0 rem(20) 0;
}
.nav__items--pc li :hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}

.nav__items--pc--title {
  font-weight: $regular;
  font-family: $second-font-family;
  font-size: rem(18);
  line-height: 1;
  @include mq(md) {
    font-weight: $regular;
    font-family: $second-font-family;
    font-size: rem(18);
    line-height: 1;
  }
}

.nav__items--pc--subtitle {
  font-weight: $regular;
  font-family: $base-font-family;
  font-size: rem(10);
  line-height: 1;
  padding: rem(4) 0 0 0;
  @include mq(md) {
    font-weight: $regular;
    font-family: $base-font-family;
    font-size: rem(10);
    line-height: 1;
    padding: rem(7) rem(0) rem(4);
  }
}
