@use "global" as *;

.price__fish {
  display: none;
  @include mq (md){
    width: rem(437);
    height: rem(201);
  position: absolute;
  top: 70%;
  transform: translateY(50%);
  
  left: 10%;
  z-index: 15;
  display: block;
  }
}