@use "global" as *;

.price__contents {
  @include mq(xl) {
    width: rem(492);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: rem(48);
    margin-top: rem(-56);
  }
}

.price__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

// .price__img{
  
// }
.price__img img{
  display: none;
  position: absolute;
  @include mq(xl) {
    top: calc(50% + rem(20);
    left: calc(50% + rem(500));
    transform: translate(-50%, -50%);
    display: block;
    width: rem(492);
    height: rem(746);
  }
}

.price__title {
  font-family: $base-font-family;
  font-weight: $bold;
  border-bottom: 1px solid $blue;
  @include mq(xl) {
    padding: 0;
    line-height: rem(24);
    font-size: rem(16);
    padding: rem(0) 0 rem(4);
  }
}

.price__item {
  font-size: rem(14);
  font-family: $base-font-family;
  line-height: rem(24);
  font-weight: $normal;
  padding: rem(8) 0;
}

.price__price {
  font-size: rem(14);
  font-family: $base-font-family;
  line-height: rem(24);
  font-weight: $normal;
  padding: rem(8) 0;
  text-align: right;
}
