@use "global" as *;

.price__contents--left {
  display: flex;
  justify-content: space-between;
  position: absolute;
  @include mq(xl) {
    width: rem(492);
    display: flex;
    flex-direction: column;
    top: calc(50% + rem(344));
    left: calc(50% - rem(294));
    transform: translate(-50%, -50%);
  }
}
.price__contents--right {
  display: none;
  @include mq(xl) {
    display: block;
  }
}

.price__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: $base-font-family;
}

.price__img img {
  position: absolute;
  @include mq(xl) {
    top: calc(50% + rem(413));
    left: calc(50% + rem(292));
    transform: translate(-50%, -50%);
    display: block;
    width: rem(492);
    height: rem(746);
  }
}

.price__title {
  font-family: $base-font-family;
  font-weight: $bold;
  border-bottom: 1px solid $blue;
  @include mq(xl) {
    padding: 0;
    line-height: rem(24);
    font-size: rem(16);
    padding: rem(39) 0 rem(4);
  }
}

.price__item {
  font-family: $base-font-family;
  @include mq(xl) {
    font-size: rem(16);
    line-height: rem(24);
    font-weight: $normal;
    padding: rem(8) 0 0;
  }
}

.price__price {
  font-family: $base-font-family;
  @include mq(xl) {
    font-size: rem(16);
    line-height: rem(24);
    font-weight: $normal;
    padding: rem(8) 0 0;
    text-align: right;
  }
}
