@use "global" as *;

.section-title--contact .section-title__main{
  position: relative;
  font-size: rem(80);
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-size: rem(80);
    margin-top: rem(20);
    text-shadow: none;
  }
}

.section-title--contact .section-title__main::first-letter {
  color: $blue;
  font-weight: $regular;
}

.section-title--contact .section-title__sub {
  margin-top: rem(-4);
  @include mq(md) {
    padding: 0;
    margin-top: rem(4);
  }
}