@use "global" as *;

.section_title__main {
  font-size: rem(32);
  font-weight: $regular;
  font-family: $second-font-family;
  text-align: center;
  color: $black;
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
    font-weight: $regular;
    text-shadow: none;
  }
}
.information .section_title__main {
  text-shadow: none;
}
.price .section_title__main {
  text-shadow: none;
}

.section_title__main::first-letter {
  color: $blue;
  font-weight: $regular;
  text-transform: capitalize;
  @include mq(md) {
    color: $blue;
  }
}

.section_title__sub {
  font-family: $base-font-family;
  color: $blue;
  font-size: rem(12);
  font-weight: $regular;
  text-align: center;
  margin-top: rem(4);
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    margin-top: rem(10);
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    text-shadow: none;
  }
}
.information .section_title__sub {
  text-shadow: none;
}
.price .section_title__sub {
  text-shadow: none;
}

.section_title__sub--campaign {
  font-family: $base-font-family;
  color: $blue;
  font-size: rem(12);
  font-weight: $regular;
  text-align: center;
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    margin: rem(8) rem(12) 0 0;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    text-shadow: none;
  }
}

.section_title__blog {
  font-family: $second-font-family;
  text-transform: capitalize;
  font-weight: $regular;
  @include mq(md) {
    font-size: rem(32);
    line-height: 1;
    text-transform: capitalize;
    color: $white;
    text-align: center;
  }
}

.section_title__main--blog {
  font-size: rem(32);
  font-family: $second-font-family;
  line-height: 1;
  text-transform: capitalize;
  font-weight: $regular;
  text-align: center;
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-size: rem(40);
    font-family: $second-font-family;
    line-height: 1;
    font-weight: $regular;
    text-align: center;
    color: $white;
  }
}

.section_title__blog::first-letter {
  color: $blue;
  font-weight: $regular;
  text-transform: capitalize;
  @include mq(md) {
    color: $white;
  }
}

.section_title__sub--blog {
  font-family: $base-font-family;
  color: $blue;
  font-size: rem(12);
  margin-top: rem(8);
  text-align: center;
  font-weight: $regular;
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    color: $white;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    // padding-top: rem(8);
  }
}

.section_title__main--contact {
  position: relative;
  text-transform: capitalize;
  font-family: $second-font-family;
  font-size: rem(80);

  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-size: rem(80);
    line-height: 1;
    font-weight: $regular;
    margin-top: rem(20);
    text-shadow: none;
  }
}

.section_title__main--contact::first-letter {
  color: $blue;
  font-weight: $regular;
}

.section_title__sub--contact {
  font-family: $base-font-family;
  color: $blue;
  text-align: center;
  font-size: rem(12);
  font-weight: $regular;
  margin-top: rem(-4);
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-family: $base-font-family;
    padding: 0;
    font-size: rem(12);
    line-height: 1;
    margin-top: rem(4);
    text-shadow: none;
  }
}

.section_title__sub--contact2 {
  font-size: rem(14);
  font-weight: $regular;
  color: $blue;
  margin-top: rem(12);
  text-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, 0.5);
  @include mq(md) {
    font-size: rem(14);
    font-family: $base-font-family;
    color: $blue;
    line-height: 1;
    text-align: center;
    text-shadow: none;
    margin-top: rem(8);
  }
}
