@use "global" as *;

.section__titles {
  text-align: center;
}

.section__title {
  font-size: rem(32);
  font-family: $second-font-family;
  line-height: rem(40);
  text-transform: capitalize;
  font-weight: $regular;
  text-align: center;
  @include mq(md) {
    font-size: rem(40);
    font-family: $second-font-family;
    line-height: rem(40);
    font-weight: $regular;
    text-align: center;
    color: $black;
  }
}

.section__title::first-letter {
  color: $blue;
  font-weight: $regular;
  @include mq (md){
    color: $black;
  }
}

.section__subtitle {
  font-size: rem(12);
  font-family: $base-font-family;
  color: $blue;
  text-align: center;
  @include mq(md) {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $base-font-family;
    line-height: rem(18);
    text-align: center;
    color: $black;
  }
}

.section__title--contact {
  @include mq (md){
    position: relative;
    font-size: rem(80);
  font-family: $second-font-family;
  line-height: rem(80);
  text-transform: capitalize;
  font-weight: $regular;
  // padding: rem(100) rem(112) rem(6)rem(81);
 
  }
}

.section__title--contact::first-letter {
  color: $blue;
  font-weight: $regular;
  @include mq (md){
    color: $black;
  }
}

.section__subtitle--contact {
  font-size: rem(12);
  font-family: $base-font-family;
  color: $blue;
  line-height: rem(18);
  text-align: center;
}
.section__subtitle--contact2 {
  font-size: rem(14);
  font-family: $base-font-family;
  color: $blue;
  line-height: rem(18);
  padding-top: rem(8);
  text-align: center;
}

.section__titles--blog.section__title{
  font-size: rem(32);
  font-family: $second-font-family;
  line-height: rem(40);
  text-transform: capitalize;
  font-weight: $regular;
  
  @include mq(md) {
    text-transform: capitalize $white;
    color: $white;
    text-align: center;
  }
}

.section__titles--contact{
  @include mq (md){
    padding: 0 rem(112)  rem(6) rem(81);
    border-left:1px solid $blue ;
    
  }
}