@use "global" as *;
.slide-card {
  grid-template-columns: auto;
  grid-row: 1;
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  width: rem(280);
  min-height: rem(366);
  @include mq(md) {
    display: flex;
    width: rem(333);
    min-height: rem(445);
  }
}
.slide-card a {
  display: flex;
  flex-direction: column;
}

.slide-card__header img {
  aspect-ratio: 333 /223;
  object-fit: cover;
  @include mq(md) {
    width: 100%;
  }
}

.slide-card__icon {
  display: flex;
  color: $blue;
  border: rem(1) solid $blue;
  font-family: $base-font-family;
  text-align: start;
  width: fit-content;
  // margin-bottom: rem(4) ;
  padding: rem(4) rem(12);
  @include mq(md) {
    text-align: start;
    width: fit-content;
    padding: rem(9) rem(16);
    // padding: rem(6) rem(16);
  }
}

.slide-card__icon-title {
  display: inline-block;
  // padding: rem(4) rem(11.5);
  font-size: rem(12);

  line-height: 1.7;
  @include mq(md) {
    font-size: rem(12);
    // padding: 0 rem(16);
    line-height: 1;
  }
}
.slide-card .slide-card__body {
  padding: rem(16) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  @include mq(md) {
    width: 100%;
    padding: rem(24) rem(16) rem(30);
  }
}
