@use "global" as *;

.swiper-container {
  width: 100%; /* スライダーの幅を調整 */
  height: 100%; /* スライダーの高さを調整 */
}

/* スライド要素 */
.swiper-slide {
  width: 100%; /* スライドの幅を調整 */
  height: 100%; /* スライドの高さを調整 */
  display: flex; /* スライド内の要素を横並びに配置する場合 */
  align-items: center; /* スライド内の要素を垂直方向に中央揃えする場合 */
  justify-content: center; /* スライド内の要素を水平方向に中央揃えする場合 */
}


.swiper-slide{
  width: rem(280);
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-wrapper{
  margin-top: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
