@use "global" as *;

.swiper-container {
  width: 100%; /* スライダーの幅を調整 */
  height: 100%; /* スライダーの高さを調整 */
}
// .swiper-container {
//   transform: translate3d(0, 0, 0);
// }


/* スライド要素 */
.swiper-slide {
  text-align: center;
  // width: 100%; /* スライドの幅を調整 */
  // height: 100%; /* スライドの高さを調整 */
  // display: flex; /* スライド内の要素を横並びに配置する場合 */
  align-items: center; /* スライド内の要素を垂直方向に中央揃えする場合 */
  justify-content:center; /* スライド内の要素を水平方向に中央揃えする場合 */
  @include mq (xl){
    width: rem(330);
    margin: 0 ;
  }
}
.swiper-wrapper.campaign{
  @include mq(xl){
  padding-left: rem(732);
  }
}

// .swiper-slide {
//   width: rem(280);
// }

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper__campaign{
  height: 80%;
}

// .swiper-slide {
  // background-position: center;
  // background-size: cover;
// }
// .swiper-wrapper{
//   margin: rem(0);
//   transform:translate3d(0,0,0);
// }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-next {
  position: relative;
  @include mq (xl){
  top:rem(-527);
  left: rem(1173);
  height: rem(80);
  width: rem(80);
  }
}

.swiper-button-next img{
  height: rem(80);
  width: rem(80);
}

.swiper-button-prev {
  position: relative;
  @include mq (xl){
  top:rem(-585);
  left: rem(1012);
  height: rem(80);
  width: rem(80);
  }
}
.swiper-button-prev img{
  height: rem(80);
  width: rem(80);
}