@use "global" as *;

.swiper-container {
  width: 100%; /* スライダーの幅を調整 */
  height: 100%; /* スライダーの高さを調整 */
}

/* スライド要素 */
.swiper-slide {
  text-align: center;
  // width: 100%; /* スライドの幅を調整 */
  // height: 100%; /* スライドの高さを調整 */
  // display: flex; /* スライド内の要素を横並びに配置する場合 */
   /* スライド内の要素を垂直方向に中央揃えする場合 */
  justify-content: center; /* スライド内の要素を水平方向に中央揃えする場合 */
  width: rem(280);
  margin: 0;
  @include mq(md) {
    width: rem(333);
    display: flex;
  align-items: stretch;
  flex-grow: 1; /* スライド内の各要素を均等に伸縮 */
  height: 100%; /* スライド内の各要素の高さを100%に設定 */
    margin: 0;
  }
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide a:hover{
  opacity: 0.5;
}
.swiper-slide {
  display: block;
  // width: 100%;
    height: 100%;
  // aspect-ratio: 280 /188;
}

.swiper-button-next {
  position: absolute;
  display: none;
  @include mq(md) {
    display: block;
    top: rem(60);
    left: calc(50% + rem(494));
    transform: translate(-50%, -50%);
    height: rem(80);
    width: rem(80);
  }
}

.swiper-button-prev {
  position: absolute;
  display: none;
  @include mq(md) {
    display: block;
    top: rem(60);
    left: calc(50% + rem(333));
    transform: translate(-50%, -50%);
    height: rem(80);
    width: rem(80);
  }
}

.swiper-button-next :hover {
  opacity: 0.5;
}
.swiper-button-prev :hover {
  opacity: 0.5;
}
