@use "global" as *;


.about__content h3{
  font-family: $second-font-family;
  font-size: rem(40);
  font-weight: $regular;
  color: $blue;

  
}
.about__text{
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: normal;
}